Source: sd-mux-ctrl
Maintainer: Adam Malinowski <a.malinowsk2@partner.samsung.com>
Section: utils
Priority: optional
Build-Depends: libftdi1-dev (>= 1.2),
               libpopt-dev,
               debhelper (>=9),
Standards-Version: 3.9.5

Package: sd-mux-ctrl
Architecture: any
Depends: libftdi1-2 (>=1.2),
         libpopt0,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Tool for controlling multiple sd-mux devices.
 This tool allows:
  to connect SD card to DUT (Device under test) or to TS (Test Server)
  to connect one USB port to DUT or TS
  to power off or on DUT
  to reset DUT through power disconnecting and reconnecting
